__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
ENV/
*.db
database/*.db
reports/*.pdf
.env
.env.local
.env.*.local
!.env.example
.DS_Store
Thumbs.db
PhishShield_AI_Project_Presentation.mp4

PhishShield_AI_Project_Presentation.pptx

New Text Document.txt

static/presentation_video.mp4


